@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>My son came home as I was taking his door off it’s hinges and asked “Dad what are you doing?”.</p>
<p>“We’ve updated our privacy policy”</p>
